<div class='project android-drag-and-drop'>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img width='1196' height='800' alt='android drag and drop' src='#' data-src='https://github.com/rickycodes/www-assets/blob/aea8f82/images/android_drag_and_drop.gif?raw=true' /></div>
      </div>
    </div>
    <a href='#' class='close-link' aria-label='Close project'>
      <img width='300' height='300' alt='close' src='https://github.com/rickycodes/www-assets/blob/aea8f82/images/close.svg?raw=true' />
    </a>
    <div class='content'>
      <h2>Android Drag &amp; Drop</h2>
      <p>
        A proof-of-concept electron app for sending files to your android device's <code>/sdcard/</code>
      </p>
      <p class='meta'>
        <a class='github link' title='View project on github' target='_blank' href='https://github.com/rickycodes/android-drag-and-drop'>
          View project on github
        </a>
      </p>
    </div>
  </div>
