<div class='project audio-visualizer'>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img width='2060' height='1128' alt='audio visualizer 1' src='#' data-src="images/audio_visualizer_1.png" /></div>
        <div><img width='1510' height='724' alt='audio visualizer 2' src='#' data-src="images/audio_visualizer_2.png" /></div>
      </div>
    </div>
    <a href='#' class='close-link' aria-label='Close project'>
      <img width='300' height='300' alt='close' src='images/close.svg' />
    </a>
    <div class='content'>
      <h2>Web Audio Visualizer</h2>
      <p>
        Audio visualizer built with HTML5 web audio API
      </p>
      <p class='meta'>
        <a class='github link' title='View project on github' target='_blank' href='https://github.com/rickycodes/audio-visualizer'>
          View project on github
        </a>
        <a class='browser link' title='View live examples' target='_blank' href='http://rickycodes.github.io/audio-visualizer/'>
          View live examples
        </a>
      </p>
    </div>
  </div>
