<div class='project emoji-picker'>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img width='850' height='400' alt='emoji picker' src='#' data-src='https://github.com/rickycodes/www-assets/blob/aea8f82/images/emoji-picker.gif?raw=true' /></div>
      </div>
    </div>
    <a href='#' class='close-link' aria-label='Close project'>
      <img width='300' height='300' alt='close' src='https://github.com/rickycodes/www-assets/blob/aea8f82/images/close.svg?raw=true' />
    </a>
    <div class='content'>
      <h2>Emoji Picker</h2>
      <p>
        Vanilla JavaScript emoji picker that replaces the basecamp emoji string, e.g. <code>:dog:</code> in a text input with the unicode character equivalant, e.g. 🐶. This uses native (in browser, no bundling!) supported ES6 modules, so you may need to enable that in order for it to work. A similar feature exists in the popular cloud-based team collaboration tool <a target='_blank' href='https://slack.com/'>Slack</a>. 
      </p>
      <p class='meta'>
        <a class='github link' title='View project on github' target='_blank' href='https://github.com/rickycodes/emoji-picker'>
          View project on github
        </a>
        <a class='browser link' title='View live example' target='_blank' href='https://rickycodes.github.io/emoji-picker/'>
          View live example
        </a>
      </p>
    </div>
  </div>
