<div class='project intel'>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img alt='intel preview' src='#' data-src="images/intel_preview.png" /></div>
        <div><img alt='intel screen 1' src='#' data-src="images/intel_01.png" /></div>
        <div><img alt='intel screen 2' src='#' data-src="images/intel_02.png" /></div>
        <div><img alt='intel screen 3' src='#' data-src="images/intel_03.png" /></div>
        <div><img alt='intel screen 4' src='#' data-src="images/intel_04.png" /></div>
        <!-- <div>
          <video loop controls src='videos/intel.mp4'></video>
        </div> -->
      </div>
    </div>
        <a href='#' class='close-link'>
      <img alt='close' src='images/close.svg' />
    </a>
    <div class='content'>
      <h2>Nowsecure INTEL</h2>
      <p>
        “NowSecure INTEL continuously monitors the Apple App Store and Google Play store to automatically perform in-depth static, dynamic and behavioral security analysis of new and updated 3rd-party apps on real iOS and Android devices.”
      </p>
      <p>
        I built/maintained the front-end of this application for <a target='_blank' href='https://www.nowsecure.com/'>NowSecure</a> using react, webpack and ES6.
      </p>
    </div>
  </div>
  