<div class='project intel' role='dialog' aria-hidden='true' aria-labelledby='intel-title' tabindex='-1'>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img width='1500' height='1125' alt='intel preview' src='#' data-src="https://assets.ricky.codes/images/intel/intel_preview.png" /></div>
        <div><img width='2532' height='1406' alt='intel screen 1' src='#' data-src="https://assets.ricky.codes/images/intel/intel_01.png" /></div>
        <div><img width='2530' height='1406' alt='intel screen 2' src='#' data-src="https://assets.ricky.codes/images/intel/intel_02.png" /></div>
        <div><img width='1912' height='1210' alt='intel screen 3' src='#' data-src="https://assets.ricky.codes/images/intel/intel_03.png" /></div>
        <div><img width='2530' height='1406' alt='intel screen 4' src='#' data-src="https://assets.ricky.codes/images/intel/intel_04.png" /></div>
        <!-- <div>
          <video loop controls src='videos/intel.mp4'></video>
        </div> -->
      </div>
    </div>
    <a href='#' class='close-link' aria-label='Close project'>
      <img width='300' height='300' alt='close' src='https://assets.ricky.codes/images/close.svg' />
    </a>
    <div class='content'>
      <h2 id='intel-title'>Nowsecure INTEL</h2>
      <p>
        “NowSecure INTEL continuously monitors the Apple App Store and Google Play store to automatically perform in-depth static, dynamic and behavioral security analysis of new and updated 3rd-party apps on real iOS and Android devices.”
      </p>
      <p>
        I built and maintained the front-end of this application for <a target='_blank' href='https://www.nowsecure.com/'>NowSecure</a> using React, Webpack, and ES6.
      </p>
    </div>
  </div>
