<div class='project moonmoji'>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img alt='moonmoji' src='#' data-src="images/moonmoji.gif" /></div>
      </div>
    </div>
        <a href='#' class='close-link'>
      <img src='images/close.svg' />
    </a>
    <div class='content'>
      <h2>Moonmoji</h2>
      <p>
        Return an emoji representing the current moon phase.
      </p>
      <p>
        The main goal of this was to have the emoji display in a shell. This can be accomplished by adding the script to your <code>PS1</code> export in your <code>.bash_prompt</code> or similar.
      </p>
      <p class='meta'>
        <a class='github link' title='View project on github' target='_blank' href='https://github.com/rickycodes/moonmoji'>
          View project on github
        </a>
      </p>
    </div>
  </div>
