<div class='project oysterclip' role='dialog' aria-modal='true' aria-labelledby='oysterclip-title' tabindex='-1' inert>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img width='2264' height='1640' alt='OysterClip desktop interface' src='#' data-src='https://assets.ricky.codes/images/oysterclip/oysterclip.png' /></div>
      </div>
    </div>
    <a href='#' class='close-link' aria-label='Close project'>
      <img width='300' height='300' alt='close' src='https://assets.ricky.codes/images/close.svg' />
    </a>
    <div class='content'>
      <h2 id='oysterclip-title'>OysterClip</h2>
      <p>
        OysterClip consists of a background watcher daemon that captures clipboard entries to an encrypted database, paired with a powerful desktop UI and terminal-based viewer for searching and managing your clipboard history.
      </p>
      <p class='meta'>
        <a class='github link' title='View OysterClip on GitHub' target='_blank' href='https://github.com/rickycodes/oysterclip'>
          View project on GitHub
        </a>
      </p>
    </div>
  </div>
