<div class='project retrorecord'>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img alt='luigi' src='#' data-src='images/luigi.gif' /></div>
        <div><img alt='megaman' src='#' data-src='images/megaman.gif' /></div>
        <div><img alt='street fighter' src='#' data-src='images/sf3.gif' /></div>
        <div><img alt='strider' src='#' data-src='images/strider.gif' /></div>
        <div><img alt='xmen' src='#' data-src='images/xmen.gif' /></div>
      </div>
    </div>
    <a href='#' class='close-link'>close</a>
    <div class='content'>
      <h2>retrorecord</h2>
      <p>
        An application to post screenshots/record video games from my raspberry pi (RetroPie) to twitter. I originally wrote this app in <a target='_blank' href='https://github.com/rickycodes/whatmeplaying'>JavaScript</a> and then ported it using <a target='_blank' href='https://github.com/rickycodes/retrorecord'>Rust</a> for better performance.
      </p>
      <p>
        Each tweet interacts with various image bot accounts that respond with altered or "glitched" versions of the original content. Here's are some examples:
      </p>
      <div class='slideshow-container'>
        <div class='slideshow' data-index='0'>
          <!-- slides -->
          <!-- <div><video autoplay loop src='images/xmen-glitch.mp4'></video></div> -->
          <div><img alt='doom glitch' src='#' data-src='images/doom.jpg' /></div>
          <div><img alt='megaman glitch' src='#' data-src='images/megaman.jpg' /></div>
        </div>
      </div>
      <p class='meta'>
        <a class='github link' title='View project on github' target='_blank' href='https://github.com/rickycodes/retrorecord'>
          View project on github
        </a>
        <a class='twitter link' title='View twitter account' target='_blank' href='https://twitter.com/whatmeplaying'>
          View twitter account
        </a>
      </p>
    </div>
  </div>
