<div class='project retrorecord' role='dialog' aria-modal='true' aria-labelledby='retrorecord-title' tabindex='-1' inert>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img width='500' height='499' alt='luigi' src='#' data-src='https://assets.ricky.codes/images/retrorecord/luigi.gif' /></div>
        <div><img width='400' height='350' alt='megaman' src='#' data-src='https://assets.ricky.codes/images/retrorecord/megaman.gif' /></div>
        <div><img width='400' height='233' alt='street fighter' src='#' data-src='https://assets.ricky.codes/images/retrorecord/sf3.gif' /></div>
        <div><img width='640' height='373' alt='strider' src='#' data-src='https://assets.ricky.codes/images/retrorecord/strider.gif' /></div>
        <div><img width='400' height='311' alt='xmen' src='#' data-src='https://assets.ricky.codes/images/retrorecord/xmen.gif' /></div>
      </div>
    </div>
    <a href='#' class='close-link' aria-label='Close project'>
      <img width='300' height='300' alt='close' src='https://assets.ricky.codes/images/close.svg' />
    </a>
    <div class='content'>
      <h2 id='retrorecord-title'>Retrorecord</h2>
      <p>
        An application for posting screenshots and recording video games from my Raspberry Pi (RetroPie) to Twitter. I originally wrote this app in <a target='_blank' href='https://github.com/rickycodes/whatmeplaying'>JavaScript</a>, then ported it to <a target='_blank' href='https://github.com/rickycodes/retrorecord'>Rust</a> for better performance.
      </p>
      <p>
        Each tweet interacts with various image bot accounts that respond with altered or "glitched" versions of the original content. Here are some examples:
      </p>
      <div class='slideshow-container'>
        <div class='slideshow' data-index='0'>
          <!-- slides -->
          <!-- <div><video autoplay loop src='images/xmen-glitch.mp4'></video></div> -->
          <div><img width='1200' height='900' alt='doom glitch' src='#' data-src='https://assets.ricky.codes/images/retrorecord/doom.jpg' /></div>
          <div><img width='800' height='786' alt='megaman glitch' src='#' data-src='https://assets.ricky.codes/images/retrorecord/megaman.jpg' /></div>
        </div>
      </div>
      <p class='meta'>
        <a class='github link' title='View project on github' target='_blank' href='https://github.com/rickycodes/retrorecord'>
          View project on github
        </a>
        <a class='twitter link' title='View twitter account' target='_blank' href='https://twitter.com/whatmeplaying'>
          View twitter account
        </a>
      </p>
    </div>
  </div>
