<div class='project winamp-skins'>
    <div class='slideshow-container'>
      <div class='slideshow' data-index='0'>
        <!-- slides -->
        <div><img alt='winamp-skins preview' src='#' data-src="images/intel_preview.png" /></div>
        <div><img alt='winamp-skins screen 1' src='#' data-src="images/intel_01.png" /></div>
        <div><img alt='winamp-skins screen 2' src='#' data-src="images/intel_02.png" /></div>
        <div><img alt='winamp-skins screen 3' src='#' data-src="images/intel_03.png" /></div>
        <div><img alt='winamp-skins screen 4' src='#' data-src="images/intel_04.png" /></div>
        <!-- <div>
          <video loop controls src='videos/intel.mp4'></video>
        </div> -->
      </div>
    </div>
    <a href='#' class='close-link'>
      <img alt='close' src='images/close.svg' />
    </a>
    <div class='content'>
      <h2>Winamp Skins</h2>
      <p>
        Winamp Skins I made in the early 2000s
      </p>
    </div>
  </div>
  