<footer>
  <a title='webring' class='webring' href='https://webring.xxiivv.com/' target='_blank'>
    <img width='40' height='40' alt='xxiivv webring' src='https://webring.xxiivv.com/icon.black.svg'/>
  </a>
  Built with <a title='A systems programming language that runs blazingly fast' href='https://www.rust-lang.org/'>Rust</a> • <a title='If you see something, say something' href='https://github.com/rickycodes/www/issues'>File a grievance</a><br />
  Icons and cursors made with <a title='grid-based vector drawing software' href='https://hundredrabbits.itch.io/dotgrid'>Dotgrid</a><br />
  Ricky Miller © <span class='year'></span>
  <div class='badges'>
    <a style='border:0;' title='check my Document' href='https://validator.w3.org/nu/?doc=https%3A%2F%2Fricky.codes'>
      <img height="31" width="88"
          src='images/w3c-html5.png'
          alt='Valid HTML5!' />
    </a>
    <a style='border:0;' title='valid CSS level 3 + SVG' href='https://jigsaw.w3.org/css-validator/validator?uri=ricky.codes'>
      <img height="31" width="88"
          src='images/w3c-css.png'
          alt='Valid CSS!' />
    </a>
  </div>
</footer>
</main>
<!-- projects -->
<div class='projects'>
