<details class='work-history'>
  <summary class='link'>work history</summary>
  <ul>
    <li>
      <h2>Senior Developer @ MetaMask</h2>
      <h3>Nov 2019 - <code>new Date()</code></h3>
      <p>
        Currently responsible for maintaining <a title='Gateway to blockchain apps' href='https://metamask.io/download.html'>MetaMask Mobile</a>, a crypto wallet and <a title='Decentralized application' href='https://en.wikipedia.org/wiki/Decentralized_application'></a>dapp</a> browser. Focus on enhancing security, improving stability and implementing new features. MetaMask mobile is a <a title='Create native apps for Android and iOS using React' href='https://reactnative.dev/'>React Native</a> application. I've also contributed to the browser extension.
      </p>
    </li>
    <li>
      <h2>Senior Developer @ :Resolver</h2>
      <h3>Nov 2018 - Nov 2019</h3>
      <p>
        Responsible for maintaining the main risk incident management software products. The front-end application is written in <a title='A JavaScript library for building user interfaces' href='https://reactjs.org/'>React</a> and the back-end API is written with <a title='A rich framework for building applications and services' href='https://hapijs.com/'>HapiJS</a>. On any given day I can be found patching bugs/UI regression, writting database migrations, updating tooling to improve developer experience or adding more tests to improve software quality.
      </p>
    </li>
    <li>
      <h2>Senior Developer @ NowSecure</h2>
      <h3>Jul 2015 - Apr 2018</h3>
      <p>
        Created several mobile security focused applications. Responsible for implementing all components in application UIs. Worked closely with other developers to ensure front-end was compatible with <a title='An application programming interface' href='https://docs.nowsecure.com/auto/api/spec/'>APIs</a>. Feel free to <a title='DEMO TIME' href='https://www.youtube.com/watch?v=0SnI1XHRH2s'>watch a demo video of Lab Automated</a>.
      </p>
    </li>
    <li>
      <h2>Senior Developer @ OneMethod</h2>
      <h3>Sep 2014 - Jul 2015</h3>
      <p>
        Full-stack developer on several micro sites for large brands. I built and maintained websites with <a href='https://angularjs.org/'>Angular 1</a> and <a href='http://backbonejs.org/'>Backbone</a> JavaScript libraries. I was focused on the optimization of build tools and work flow. The most substantial contribution I made was introducing automated functional testing (<a title='Automating web applications' href='https://www.seleniumhq.org/'>Selenium</a>).
      </p>
    </li>
    <li>
      <h2>Developer @ MetaLab, Ltd.</h2>
      <h3>Apr 2014 - Sep 2014</h3>
      <p>
        I worked on Walmart’s (walmart.com) shopping cart checkout experience styling markup and writing JavaScript. I collaborated with a giant team of committers (400+) on a large Node.js code base. Other projects included building static websites built with <a title='"…a static site generator using all the shortcuts and tools in modern web development"' href='https://middlemanapp.com/'>Middleman</a>.
      </p>
    </li>
    <li>
      <h2>Developer @ High Road Communications</h2>
      <h3>Nov 2010 - Jul 2013</h3>
      <p>
        I developed user interfaces involved in large scale PR initiatives and was responsible for the creation of several interactive experiences for a variety large scale brands. I mostly created projects that integrated with social media platforms including Twitter and Facebook.
      </p>
    </li>
  </ul>
</details>
