<div class='cv-content'>
  <h2>Senior JavaScript Developer at :Resolver</h2>
  <h3>Nov 2018 - <code>new Date()</code></h3>
  <p>
    As a JavaScript developer I am responsible for maintaining the main risk incident management software products. The front-end application is written in <a title='A JavaScript library for building user interfaces' href='https://reactjs.org/'>React</a> and the back-end API is written with <a title='A rich framework for building applications and services' href='https://hapijs.com/'>HapiJS</a>. On any given day I can be found patching bugs/UI regression, writting database migrations, updating tooling to improve developer experience or adding more tests to improve software quality.
  </p>

  <h2>Senior Front-end Developer at NowSecure</h2>
  <h3>Jul 2015 - Apr 2018</h3>
  <p>
    As a front-end developer I created several applications focused on mobile application security testing. I was responsible for creating all components in the user interfaces. I worked closely with other developers to ensure the front-end played nicely with the <a title='An application programming interface' href='https://docs.nowsecure.com/auto/api/spec/'>API</a> it was built on top of. Feel free to <a title='DEMO TIME' href='https://www.youtube.com/watch?v=0SnI1XHRH2s'>watch a demo video of Lab Automated</a>.
  </p>
  <p>
    The most substantial contribution I made was refactoring the applications and rebuilding them with <a title='A JavaScript library for building user interfaces' href='https://reactjs.org/'>React</a>.
  </p>
  <h2>Senior Web Developer at OneMethod</h2>
  <h3>Sep 2014 - Jul 2015</h3>
  <p>
    I worked as a Full-stack developer on several micro sites for large brands. I built and maintained websites with <a href='https://angularjs.org/'>Angular 1</a> and <a href='http://backbonejs.org/'>Backbone</a> JavaScript libraries. I was focused on the optimization of build tools and work flow.
  </p>
  <p>
    The most substantial contribution I made was introducing automated functional testing (<a title='Automating web applications' href='https://www.seleniumhq.org/'>Selenium</a>).
  </p>
  <h2>Web Developer at MetaLab</h2>
  <h3>Apr 2014 - Sep 2014</h3>
  <p>
    I worked on Walmart’s (walmart.com) shopping cart checkout experience styling markup and writing JavaScript. I collaborated with a giant team of committers (400+) on a large Node.js code base. Other projects included building static websites built with <a title='"…a static site generator using all the shortcuts and tools in modern web development"' href='https://middlemanapp.com/'>Middleman</a>.
  </p>
  <h2>Web Developer at High Road Communications</h2>
  <h3>Nov 2010 - Jul 2013</h3>
  <p>
    I developed user interfaces involved in large scale PR initiatives and was responsible for the creation of several interactive experiences for a variety large scale brands. I mostly created projects that integrated with social media platforms including Twitter and Facebook.
  </p>
</div>
</div>
