  <a href='#' class='close' aria-label='Close project overlay'>
    <div></div>
  </a>
</div>
<div class='info hidden'></div>
<div class='coord'>
  <div></div>
  <div class='can'>🗑️</div>
</div>
<noscript class='deferred'>
  <link rel='stylesheet preload' as='style' href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500&display=swap'>
  <link rel='stylesheet preload' as='style' href='projects.css'>
  <link rel='stylesheet preload' as='style' href='style.css?v=1'>
</noscript>
<noscript>
  <link rel='stylesheet preload' as='style' href='noscript.css'>
</noscript>
<script src='script.js' defer></script>
</body>
</html>
