  <a href='#' class='close'>
    <div></div>
  </a>
</div>
<div class='info hidden'></div>
<div class='coord'>
  <div></div>
  <div class='can'>🗑️</div>
</div>
<noscript class='deferred'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono'>
  <link rel='stylesheet' href='projects.css'>
  <link rel='stylesheet' href='style.css'>
</noscript>
<noscript>
  <style>
  ._projects, .projects, .coord {
    display: none;
  }

  .wat {
    padding: 1em;
    background: red;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
  }
  </style>
</noscript>
<script src='script.js'></script>
</body>
</html>
