@keyframes rgbshift {
  0% {
    text-shadow: 3px 5px 0px #bbb;
    box-shadow: 3px 5px 0px #bbb;
    opacity: 1;
  }
  4% {
    text-shadow: 1px 1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      -1px 2px 0px rgba(0, 0, 255, .5);
    box-shadow: 1px 1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      -1px 2px 0px rgba(0, 0, 255, .5);
    opacity: 1;
  }
  7% {
    text-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    box-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    opacity: 0.6;
  }
  9% {
    text-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
  58% {
    text-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
  59% {
    text-shadow: -3px -4px 0px #bbb;
    box-shadow: -3px -4px 0px #bbb;
    opacity: 0.6;
  }
  62% {
    text-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    box-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    opacity: 1;
  }
  67% {
    text-shadow: none;
    box-shadow: none;
  }
}

.canvas {
  width: 100%;
  height: 100%;
}

.x, .y {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.x {
  top: 0;
  height: 100%;
  border-left: 1px;
  margin-left: -1px;
}

.y {
  left: 0;
  width: 100%;
  border-top: 1px;
}

.info, .coord {
  position: fixed;
  z-index: 3;
  background: black;
  padding: 1em 2em;
  color: white;
  font-size: .8em;
  font-family: 'Roboto Mono', monospace;
  text-align: right;
}

.coord {
  bottom: 0;
  right: 0;
  transition: all .3s ease-out;
}

.coord .can {
  display: none;
  pointer-events: none;
}

.coord.trash {
  font-size: 60px;
}

.coord.dragenter {
  background: lightgrey;
  font-size: 80px;
}

.coord.trash > div {
  display: none;
  pointer-events: none;
}

.coord.trash .can {
  display: block;
}

.info {
  display: block;
  top: 0;
  right: 0;
  transform: translate3d(0,0,0);
  transition: transform .3s ease-out;
}

.info.hidden {
  transform: translate3d(0,-100%,0);
}

ul {
  margin: 0;
  padding: 0 2em;
}

footer {
  font-size: .8em;
  margin-top: 4em;
  padding-top: 1em;
  border-top: 2px solid black;
  font-family: 'Roboto Mono', monospace;
}

.link, .content .meta a {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: .3s;
  padding: 0 1em;
  margin: 0 .5em .5em 0;
  border: 2px solid black;
  border-radius: 100px;
  overflow: hidden;
  background: white;
  text-shadow: none;
  font-size: .8em;
}

.link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

.link:hover {
  color: white;
  border: 2px solid black;
  animation: visible 0.2s, rgbshift 3s infinite;
}

.link:hover:before {
  transform: scaleX(1);
}

.link.project {
  cursor: none;
}

.link.cv {
  cursor: pointer;
}

code {
  padding: 0.2em 0.4em;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  text-transform: none;
}

#work-history .cv.link span::after {
  content: '+';
  display: block;
  margin: 0 0 0 10px;
  float: right;
}

#work-history input#cv-toggle { display: none; }

#work-history input#cv-toggle + .cv.link + .cv-content {
  display: none;
}

#work-history input#cv-toggle:checked + .cv.link + .cv-content {
  display: block;
}

#work-history input#cv-toggle:checked + .cv.link {
  animation: none;
  color: black;
}

#work-history input#cv-toggle:checked + .cv.link:before {
  background: white;
}

#work-history input#cv-toggle:checked + .cv.link span::after {
  content: '-';
}

.cursor {
  position: fixed;
  z-index: 4;
  pointer-events: none;
}

.cursor > div {
  transform: scale(0.6);
  position: absolute;
}

.cursor .link.project {
  pointer-events: none;
  position: relative;
  left: -50%;
  top: -26px;
}

.cursor svg {
  position: absolute;
  top: -150px;
  left: -150px;
  display: none;
  filter: drop-shadow( 0 0 6px rgba(255, 255, 255, 1))
    drop-shadow( 0 0 10px rgba(255, 255, 255, .5));
}

.cursor.prev .cursor-prev {
  left: -200px;
}

.cursor.next .cursor-next {
  left: -100px;
}

.cursor.close .cursor-close,
.cursor.prev .cursor-prev,
.cursor.next .cursor-next,
.cursor.zoom .cursor-zoom,
.cursor.tw .cursor-tw,
.cursor.gh .cursor-gh {
  display: block;
}

.content .meta {}
.content .meta a {
  display: inline-block;
  padding: 0 1em 0 1em;
  margin-right: 1em;
  font-size: .6em;
  cursor: pointer;
  display: block;
}

.content .meta a.github, .content .meta a.twitter {
  cursor: none;
}

@media (max-width: 720px) {
  a.webring {
    display: block;
    float: none;
  }

  .content, .projects .project {
    width: 100%;
  }

  .projects .project {
    margin-left: 0;
  }

  .slideshow {
    height: 260px;
  }

  .cursor, .info, .coord, .x, .y {
    display: none;
  }

  html, body {
    font-size: 1em;
  }
}
