@keyframes rgbshift {
  0% {
    text-shadow: 3px 5px 0px #bbb;
    box-shadow: 3px 5px 0px #bbb;
    opacity: 1;
  }
  4% {
    text-shadow: 1px 1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      -1px 2px 0px rgba(0, 0, 255, .5);
    box-shadow: 1px 1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      -1px 2px 0px rgba(0, 0, 255, .5);
    opacity: 1;
  }
  7% {
    text-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    box-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    opacity: 0.6;
  }
  9% {
    text-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
  58% {
    text-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
  59% {
    text-shadow: -3px -4px 0px #bbb;
    box-shadow: -3px -4px 0px #bbb;
    opacity: 0.6;
  }
  62% {
    text-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    box-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    opacity: 1;
  }
  67% {
    text-shadow: none;
    box-shadow: none;
  }
}

.canvas {
  width: 100%;
  height: 100%;
}

.x, .y {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.x {
  top: 0;
  height: 100%;
  border-left: 1px;
  margin-left: -1px;
}

.y {
  left: 0;
  width: 100%;
  border-top: 1px;
}

.info, .coord {
  position: fixed;
  z-index: 3;
  background: black;
  padding: 1em 2em;
  color: white;
  font-size: .8em;
  font-family: 'Roboto Mono', monospace;
  text-align: right;
}

.coord {
  bottom: 0;
  right: 0;
}

.info {
  display: block;
  top: 0;
  right: 0;
  transform: translate3d(0,0,0) rotateX(0);
  transition: transform .3s ease-out;
}

.info.hidden {
  transform: translate3d(0,-100%,0) rotateX(0);
}

ul {
  margin: 0;
  padding: 0 2em;
}

footer {
  font-size: .8em;
  margin-top: 4em;
  padding-top: 1em;
  border-top: 1px solid lightgrey;
  font-family: 'Roboto Mono', monospace;
}

.link {
  font-family: 'Roboto Mono', monospace;
  cursor: zoom-in;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: .3s;
  padding: 0 .5em;
  margin: 0 .5rem .5rem 0;
  border: 2px solid black;
  border-radius: 4px;
  background: white;
  text-shadow: none;
}

.link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

.link:hover {
  color: white;
  border: 2px solid black;
  animation: visible 0.2s, rgbshift 3s infinite;
}

.link:hover:before {
  transform: scaleX(1);
}

code {
  padding: 0.2em 0.4em;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

#work-history .cv.link span::after {
  content: '+';
  display: block;
  margin: 0 0 0 10px;
  float: right;
}

#work-history input#cv-toggle { display: none; }

#work-history input#cv-toggle + .cv.link + .cv-content {
  display: none;
}

#work-history input#cv-toggle:checked + .cv.link + .cv-content {
  display: block;
}

#work-history input#cv-toggle:checked + .cv.link {
  cursor: zoom-out;
}

#work-history input#cv-toggle:checked + .cv.link span::after {
  content: '-';
}

.cursor {
  width: 200px;
  height: 200px;
  position: fixed;
  z-index: 4;
  pointer-events: none;
  background-image: none;
  background-size: cover;
}

.cursor.close {
  background-image: url('images/close.svg');
}

.cursor.prev {
  background-image: url('images/prev.svg');
  background-position-x: -40px;
}

.cursor.next {
  background-image: url('images/next.svg');
  background-position-x: 40px;
}

@media (max-width: 720px) {
  .content, .projects .project {
    width: 100%;
  }

  .projects .project {
    margin-left: 0;
  }

  .slideshow {
    height: 260px;
  }

  .cursor, .info, .coord, .x, .y {
    display: none;
  }

  html, body {
    font-size: 1em;
  }
}
