@keyframes rgbshift {
  0% {
    text-shadow: 3px 5px 0px #bbb;
    box-shadow: 3px 5px 0px #bbb;
    opacity: 1;
  }
  4% {
    text-shadow: 1px 1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      -1px 2px 0px rgba(0, 0, 255, .5);
    box-shadow: 1px 1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      -1px 2px 0px rgba(0, 0, 255, .5);
    opacity: 1;
  }
  7% {
    text-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    box-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    opacity: 0.6;
  }
  9% {
    text-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
  58% {
    text-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
  59% {
    text-shadow: -3px -4px 0px #bbb;
    box-shadow: -3px -4px 0px #bbb;
    opacity: 0.6;
  }
  62% {
    text-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    box-shadow: 4px -1px 0px rgba(255, 0, 0, .5),
      -3px -1px 0px rgba(0, 255, 0, .5),
      1px -1px 0px rgba(0, 0, 255, .5);
    opacity: 1;
  }
  67% {
    text-shadow: none;
    box-shadow: none;
  }
}

* { box-sizing: border-box; margin: 0; padding: 0 }

html, body {
  margin: 0; padding: 0;
  letter-spacing: .02em;
  line-height: 1.8em;
  font-size: 1.16em;
  font-family: 'Roboto', sans-serif;
  cursor: crosshair;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
  transition: all .3s ease-out;
}

a:hover {
  border-color: lightgrey;
}

h2, h3 {
  margin-top: 2em;
  font-weight: 500;
  padding: 6px 0;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: .8em;
  margin: -10px 0;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
}

._container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.canvas {
  width: 100%;
  height: 100%;
}

.x, .y {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.x {
  top: 0;
  height: 100%;
  border-left: 1px;
  margin-left: -1px;
}

.y {
  left: 0;
  width: 100%;
  border-top: 1px;
}

.content {
  width: 70vw;
  padding: 2em;
  position: relative;
  z-index: 2;
  text-shadow: 0px 0px .2em white,
    0px 0px .2em white;
}

.content p {
  margin: 2em 0;
}

[data-project] > .content {
  height: 100vh;
  overflow-y: hidden;
}

.content h2:first-child,
.projects .project h3:first-child {
  margin-top: 0;
}

.info, .coord {
  position: fixed;
  z-index: 3;
  background: black;
  padding: 1em 2em;
  color: white;
  font-size: .8em;
  font-family: 'Roboto Mono', monospace;
  text-align: right;
}

.coord {
  bottom: 0;
  right: 0;
}

.info {
  display: block;
  top: 0;
  right: 0;
  transform: translate3d(0,0,0) rotateX(0);
  transition: transform .3s ease-out;
}

.info.hidden {
  transform: translate3d(0,-100%,0) rotateX(0);
}

ul {
  margin: 0;
  padding: 0 2em;
}

footer {
  font-size: .8em;
  margin-top: 4em;
  padding-top: 1em;
  border-top: 1px solid lightgrey;
  font-family: 'Roboto Mono', monospace;
}

.link {
  font-family: 'Roboto Mono', monospace;
  cursor: zoom-in;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: .3s;
  padding: 0 .5em;
  margin: 0 .5rem .5rem 0;
  border: 2px solid black;
  border-radius: 4px;
  background: white;
  text-shadow: none;
}

.link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

.link:hover,
.link:focus,
.link:active {
  color: white;
  border: 2px solid black;
  animation: visible 0.2s, rgbshift 3s infinite;
}

.link:hover:before,
.link:focus:before,
.link:active:before {
  transform: scaleX(1);
}

.projects {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  display: block;
}

[data-project] .projects {
  pointer-events: auto;
}

.projects .project {
  position: absolute;
  width: calc(100% - 4em);
  margin-left: 4em;
  height: inherit;
  top: 0;
  z-index: 4;
  transition: all .6s ease;
  overflow-y: scroll;
  transform: translate3d(100%,0,0) rotateX(0);
  transition: all .4s ease-out;
  background: white;
}

[data-project='intel'] .projects .project.intel,
[data-project='moonmoji'] .projects .project.moonmoji,
[data-project='retrorecord'] .projects .project.retrorecord,
[data-project='emoji-picker'] .projects .project.emoji-picker,
[data-project='android-drag-and-drop'] .projects .project.android-drag-and-drop,
[data-project='audio-visualizer'] .projects .project.audio-visualizer {
  transform: translate3d(0%,0,0) rotateX(0);
}

.slideshow {
  position: relative;
  height: 380px;
  border: 2px solid lightgrey;
  overflow: hidden;
  background: radial-gradient(white, rgb(0,0,0,.1));
}

.slideshow .prev,
.slideshow .next {
  position: absolute;
  top: 0;
  width: 30%;
  background: transparent;
  border: none;
  height: 100%;
  z-index: 2;
}

.slideshow .prev {
  left: 0;
  cursor: url("images/prev.png") 30 50, pointer;
}
.slideshow .next {
  right: 0;
  cursor: url("images/next.png") 30 50, pointer;
}

.slideshow div {
  /* slides */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}

.slideshow div * {
  height: 100%;
  transition: opacity .3s ease-out;
  opacity: 0;
}

.slideshow[data-index='0'] div:nth-child(1) *,
.slideshow[data-index='1'] div:nth-child(2) *,
.slideshow[data-index='2'] div:nth-child(3) *,
.slideshow[data-index='3'] div:nth-child(4) *,
.slideshow[data-index='4'] div:nth-child(5) * {
  opacity: 1;
}

.slideshow-container .controls {
  margin: 1em 0;
}

.slideshow-container .controls .link {
  display: inline-block;
  padding: 0 1em 0 1em;
  margin-right: 1em;
  font-size: .8em;
  cursor: pointer;
}

.slideshow[data-index='0'] + .controls .link:nth-child(1),
.slideshow[data-index='1'] + .controls .link:nth-child(2),
.slideshow[data-index='2'] + .controls .link:nth-child(3),
.slideshow[data-index='3'] + .controls .link:nth-child(4),
.slideshow[data-index='4'] + .controls .link:nth-child(5) {
  background: black;
  color: white;
  pointer-events: none;
}

.slideshow-container .slideshow img,
.slideshow-container .slideshow video {
  max-height: 100%;
  object-fit: fill;
}

.slideshow-container .slideshow div div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.projects .project img, .projects .project video {
  border: 2px solid lightgrey;
}

.projects .project .close-link {
  display: block;
  z-index: 3;
  width: 40px;
  height: 40px;
  text-indent: -999999%;
  overflow: hidden;
  background: url("images/close.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: .6em;
  right: .6em;
  transition: opacity .3s ease-out;
}

.projects .project .close-link:hover {
  opacity: .3;
}

.projects .close {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .4;
}

[data-project] .close {
  visibility: visible;
}

.projects .close:hover {
  cursor: url("images/close.png") 50 50, pointer;
}

.projects .close.hidden {
  display: none;
}

code {
  padding: 0.2em 0.4em;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

#work-history .cv.link span::after {
  content: '+';
  display: block;
  margin: 0 0 0 10px;
  float: right;
}

#work-history input#cv-toggle { display: none; }

#work-history input#cv-toggle + .cv.link + .cv-content {
  display: none;
}

#work-history input#cv-toggle:checked + .cv.link + .cv-content {
  display: block;
}

#work-history input#cv-toggle:checked + .cv.link {
  cursor: zoom-out;
}

#work-history input#cv-toggle:checked + .cv.link span::after {
  content: '-';
}

@media (max-width: 720px) {
  .info, .coord, .x, .y {
    display: none;
  }

  html, body {
    font-size: 1em;
  }

  .content, .projects .project {
    width: 100%;
  }

  .projects .project {
    margin-left: 0;
  }

  .slideshow {
    height: 260px;
  }
}
